<%- include('../partials/header') %>

Create New Chart:
<br><br>
<form action="/charts" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <input type="submit" name="Submit">
</form>


<ul id="chart-ul">
    <% charts.forEach(function(c) { %>
        <% if (user?._id.equals(c.user)) { %>
    <li>
        <a href="/charts/<%= c._id %>"><%= c.name %></a>
        <form action="/charts/<%= c._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
    <% } %>
<% }) %>
<br>

<%- include('../partials/footer') %>