<%- include('../partials/header') %>

<h3>Create a new link:</h3>
<form action="/links" method="POST">
    <label>Link:</label>
    <input type="text" name="link">
    <input type="submit" name="Submit">
</form>

<ul id="link-ul">
    <% links.forEach(function(l) { %> 
        <% if (user?._id.equals(l.user)) { %>
    <li id="link-li">
        <a href="<%= l.link %>" target="_blank"><%= l.link %></a>
        <form action="/links/<%= l._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    </li>
        <% } %>
    <% }) %>
</ul>

<%- include('../partials/footer') %>