<%- include('../partials/header') %>

Scheduler
<br><br>
<section id="scheduler">
    <div id="scheduler-days">

        <div id="mon">Monday</div>
        <div id="tue">Tuesday</div>
        <div id="wed">Wednesday</div>
        <div id="thu">Thursday</div>
        <div id="fri">Friday</div>
        <div id="sat">Saturday</div>
        <div id="sun">Sunday</div>
    </div>

    <div id="scheduler-times">
        <section id="mon-col">
            <div id="600" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=6&&s.timeEnd>=6.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===6)?.activity %></div>
            <div id="630" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=6.5&&s.timeEnd>=7) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===6.5)?.activity %></div>
            <div id="700" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=7&&s.timeEnd>=7.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===7)?.activity %></div>
            <div id="730" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=7.5&&s.timeEnd>=8) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===7.5)?.activity %></div>
            <div id="800" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=8&&s.timeEnd>=8.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===8)?.activity %></div>
            <div id="830" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=8.5&&s.timeEnd>=9) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===8.5)?.activity %></div>
            <div id="900" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=9&&s.timeEnd>=9.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===9)?.activity %></div>
            <div id="930" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=9.5&&s.timeEnd>=10) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===9.5)?.activity %></div>
            <div id="1000" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=10&&s.timeEnd>=10.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===10)?.activity %></div>
            <div id="1030" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=10.5&&s.timeEnd>=11) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===10.5)?.activity %></div>
            <div id="1100" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=11&&s.timeEnd>=11.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===11)?.activity %></div>
            <div id="1130" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=11.5&&s.timeEnd>=12) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===11.5)?.activity %></div>
            <div id="1200" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=12&&s.timeEnd>=12.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===12)?.activity %></div>
            <div id="1230" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=12.5&&s.timeEnd>=13) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===12.5)?.activity %></div>
            <div id="1300" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=13&&s.timeEnd>=13.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===13)?.activity %></div>
            <div id="1330" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=13.5&&s.timeEnd>=14) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===13.5)?.activity %></div>
            <div id="1400" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=14&&s.timeEnd>=14.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===14)?.activity %></div>
            <div id="1430" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=14.5&&s.timeEnd>=15) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===14.5)?.activity %></div>
            <div id="1500" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=15&&s.timeEnd>=15.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===15)?.activity %></div>
            <div id="1530" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=15.5&&s.timeEnd>=16) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===15.5)?.activity %></div>
            <div id="1600" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=16&&s.timeEnd>=16.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===16)?.activity %></div>
            <div id="1630" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=16.5&&s.timeEnd>=17) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===16.5)?.activity %></div>
            <div id="1700" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=17&&s.timeEnd>=17.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===17)?.activity %></div>
            <div id="1730" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=17.5&&s.timeEnd>=18) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===17.5)?.activity %></div>
            <div id="1800" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=18&&s.timeEnd>=18.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===18)?.activity %></div>
            <div id="1830" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=18.5&&s.timeEnd>=19) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===18.5)?.activity %></div>
            <div id="1900" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=19&&s.timeEnd>=19.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===19)?.activity %></div>
            <div id="1930" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=19.5&&s.timeEnd>=20) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===19.5)?.activity %></div>
            <div id="2000" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=20&&s.timeEnd>=20.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===20)?.activity %></div>
            <div id="2030" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=20.5&&s.timeEnd>=21) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===20.5)?.activity %></div>
            <div id="2100" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=21&&s.timeEnd>=21.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===21)?.activity %></div>
            <div id="2130" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=21.5&&s.timeEnd>=22) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===21.5)?.activity %></div>
            <div id="2200" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=22&&s.timeEnd>=22.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===22)?.activity %></div>
            <div id="2230" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=22.5&&s.timeEnd>=23) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===22.5)?.activity %></div>
            <div id="2300" class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=23&&s.timeEnd>=23.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===23)?.activity %></div>
        </section>
        <section id="tue-col">
            <div id="600"></div>
            <div id="630"></div>
            <div id="700"></div>
            <div id="730"></div>
            <div id="800"></div>
            <div id="830"></div>
            <div id="900"></div>
            <div id="930"></div>
            <div id="1000"></div>
            <div id="1030"></div>
            <div id="1100"></div>
            <div id="1130"></div>
            <div id="1200"></div>
            <div id="1230"></div>
            <div id="1300"></div>
            <div id="1330"></div>
            <div id="1400"></div>
            <div id="1430"></div>
            <div id="1500"></div>
            <div id="1530"></div>
            <div id="1600"></div>
            <div id="1630"></div>
            <div id="1700"></div>
            <div id="1730"></div>
            <div id="1800"></div>
            <div id="1830"></div>
            <div id="1900"></div>
            <div id="1930"></div>
            <div id="2000"></div>
            <div id="2030"></div>
            <div id="2100"></div>
            <div id="2130"></div>
            <div id="2200"></div>
            <div id="2230"></div>
            <div id="2300"></div>
        </section>
        <section id="wed-col">
            <div id="600"></div>
            <div id="630"></div>
            <div id="700"></div>
            <div id="730"></div>
            <div id="800"></div>
            <div id="830"></div>
            <div id="900"></div>
            <div id="930"></div>
            <div id="1000"></div>
            <div id="1030"></div>
            <div id="1100"></div>
            <div id="1130"></div>
            <div id="1200"></div>
            <div id="1230"></div>
            <div id="1300"></div>
            <div id="1330"></div>
            <div id="1400"></div>
            <div id="1430"></div>
            <div id="1500"></div>
            <div id="1530"></div>
            <div id="1600"></div>
            <div id="1630"></div>
            <div id="1700"></div>
            <div id="1730"></div>
            <div id="1800"></div>
            <div id="1830"></div>
            <div id="1900"></div>
            <div id="1930"></div>
            <div id="2000"></div>
            <div id="2030"></div>
            <div id="2100"></div>
            <div id="2130"></div>
            <div id="2200"></div>
            <div id="2230"></div>
            <div id="2300"></div>
        </section>
        <section id="thu-col">
            <div id="600"></div>
            <div id="630"></div>
            <div id="700"></div>
            <div id="730"></div>
            <div id="800"></div>
            <div id="830"></div>
            <div id="900"></div>
            <div id="930"></div>
            <div id="1000"></div>
            <div id="1030"></div>
            <div id="1100"></div>
            <div id="1130"></div>
            <div id="1200"></div>
            <div id="1230"></div>
            <div id="1300"></div>
            <div id="1330"></div>
            <div id="1400"></div>
            <div id="1430"></div>
            <div id="1500"></div>
            <div id="1530"></div>
            <div id="1600"></div>
            <div id="1630"></div>
            <div id="1700"></div>
            <div id="1730"></div>
            <div id="1800"></div>
            <div id="1830"></div>
            <div id="1900"></div>
            <div id="1930"></div>
            <div id="2000"></div>
            <div id="2030"></div>
            <div id="2100"></div>
            <div id="2130"></div>
            <div id="2200"></div>
            <div id="2230"></div>
            <div id="2300"></div>
        </section>
        <section id="fri-col">
            <div id="600"></div>
            <div id="630"></div>
            <div id="700"></div>
            <div id="730"></div>
            <div id="800"></div>
            <div id="830"></div>
            <div id="900"></div>
            <div id="930"></div>
            <div id="1000"></div>
            <div id="1030"></div>
            <div id="1100"></div>
            <div id="1130"></div>
            <div id="1200"></div>
            <div id="1230"></div>
            <div id="1300"></div>
            <div id="1330"></div>
            <div id="1400"></div>
            <div id="1430"></div>
            <div id="1500"></div>
            <div id="1530"></div>
            <div id="1600"></div>
            <div id="1630"></div>
            <div id="1700"></div>
            <div id="1730"></div>
            <div id="1800"></div>
            <div id="1830"></div>
            <div id="1900"></div>
            <div id="1930"></div>
            <div id="2000"></div>
            <div id="2030"></div>
            <div id="2100"></div>
            <div id="2130"></div>
            <div id="2200"></div>
            <div id="2230"></div>
            <div id="2300"></div>
        </section>
        <section id="sat-col">
            <div id="600"></div>
            <div id="630"></div>
            <div id="700"></div>
            <div id="730"></div>
            <div id="800"></div>
            <div id="830"></div>
            <div id="900"></div>
            <div id="930"></div>
            <div id="1000"></div>
            <div id="1030"></div>
            <div id="1100"></div>
            <div id="1130"></div>
            <div id="1200"></div>
            <div id="1230"></div>
            <div id="1300"></div>
            <div id="1330"></div>
            <div id="1400"></div>
            <div id="1430"></div>
            <div id="1500"></div>
            <div id="1530"></div>
            <div id="1600"></div>
            <div id="1630"></div>
            <div id="1700"></div>
            <div id="1730"></div>
            <div id="1800"></div>
            <div id="1830"></div>
            <div id="1900"></div>
            <div id="1930"></div>
            <div id="2000"></div>
            <div id="2030"></div>
            <div id="2100"></div>
            <div id="2130"></div>
            <div id="2200"></div>
            <div id="2230"></div>
            <div id="2300"></div>
        </section>
        <section id="sun-col">
            <div id="600"></div>
            <div id="630"></div>
            <div id="700"></div>
            <div id="730"></div>
            <div id="800"></div>
            <div id="830"></div>
            <div id="900"></div>
            <div id="930"></div>
            <div id="1000"></div>
            <div id="1030"></div>
            <div id="1100"></div>
            <div id="1130"></div>
            <div id="1200"></div>
            <div id="1230"></div>
            <div id="1300"></div>
            <div id="1330"></div>
            <div id="1400"></div>
            <div id="1430"></div>
            <div id="1500"></div>
            <div id="1530"></div>
            <div id="1600"></div>
            <div id="1630"></div>
            <div id="1700"></div>
            <div id="1730"></div>
            <div id="1800"></div>
            <div id="1830"></div>
            <div id="1900"></div>
            <div id="1930"></div>
            <div id="2000"></div>
            <div id="2030"></div>
            <div id="2100"></div>
            <div id="2130"></div>
            <div id="2200"></div>
            <div id="2230"></div>
            <div id="2300"></div>
        </section>
        <!-- <div id="c0r28"></div>
        <div id="c1r28"></div>
        <div id="c2r28"></div>
        <div id="c3r28"></div>
        <div id="c4r28"></div>
        <div id="c5r28"></div>
        <div id="c6r28"></div>

        <div id="c0r27"></div>
        <div id="c1r27"></div>
        <div id="c2r27"></div>
        <div id="c3r27"></div>
        <div id="c4r27"></div>
        <div id="c5r27"></div>
        <div id="c6r27"></div>

        <div id="c0r26"></div>
        <div id="c1r26"></div>
        <div id="c2r26"></div>
        <div id="c3r26"></div>
        <div id="c4r26"></div>
        <div id="c5r26"></div>
        <div id="c6r26"></div>

        <div id="c0r25"></div>
        <div id="c1r25"></div>
        <div id="c2r25"></div>
        <div id="c3r25"></div>
        <div id="c4r25"></div>
        <div id="c5r25"></div>
        <div id="c6r25"></div>

        <div id="c0r24"></div>
        <div id="c1r24"></div>
        <div id="c2r24"></div>
        <div id="c3r24"></div>
        <div id="c4r24"></div>
        <div id="c5r24"></div>
        <div id="c6r24"></div>

        <div id="c0r23"></div>
        <div id="c1r23"></div>
        <div id="c2r23"></div>
        <div id="c3r23"></div>
        <div id="c4r23"></div>
        <div id="c5r23"></div>
        <div id="c6r23"></div>

        <div id="c0r22"></div>
        <div id="c1r22"></div>
        <div id="c2r22"></div>
        <div id="c3r22"></div>
        <div id="c4r22"></div>
        <div id="c5r22"></div>
        <div id="c6r22"></div>

        <div id="c0r21"></div>
        <div id="c1r21"></div>
        <div id="c2r21"></div>
        <div id="c3r21"></div>
        <div id="c4r21"></div>
        <div id="c5r21"></div>
        <div id="c6r21"></div>

        <div id="c0r20"></div>
        <div id="c1r20"></div>
        <div id="c2r20"></div>
        <div id="c3r20"></div>
        <div id="c4r20"></div>
        <div id="c5r20"></div>
        <div id="c6r20"></div>

        <div id="c0r19"></div>
        <div id="c1r19"></div>
        <div id="c2r19"></div>
        <div id="c3r19"></div>
        <div id="c4r19"></div>
        <div id="c5r19"></div>
        <div id="c6r19"></div>

        <div id="c0r18"></div>
        <div id="c1r18"></div>
        <div id="c2r18"></div>
        <div id="c3r18"></div>
        <div id="c4r18"></div>
        <div id="c5r18"></div>
        <div id="c6r18"></div>

        <div id="c0r17"></div>
        <div id="c1r17"></div>
        <div id="c2r17"></div>
        <div id="c3r17"></div>
        <div id="c4r17"></div>
        <div id="c5r17"></div>
        <div id="c6r17"></div>

        <div id="c0r16"></div>
        <div id="c1r16"></div>
        <div id="c2r16"></div>
        <div id="c3r16"></div>
        <div id="c4r16"></div>
        <div id="c5r16"></div>
        <div id="c6r16"></div>

        <div id="c0r15"></div>
        <div id="c1r15"></div>
        <div id="c2r15"></div>
        <div id="c3r15"></div>
        <div id="c4r15"></div>
        <div id="c5r15"></div>
        <div id="c6r15"></div>

        <div id="c0r14"></div>
        <div id="c1r14"></div>
        <div id="c2r14"></div>
        <div id="c3r14"></div>
        <div id="c4r14"></div>
        <div id="c5r14"></div>
        <div id="c6r14"></div>

        <div id="c0r13"></div>
        <div id="c1r13"></div>
        <div id="c2r13"></div>
        <div id="c3r13"></div>
        <div id="c4r13"></div>
        <div id="c5r13"></div>
        <div id="c6r13"></div>

        <div id="c0r12"></div>
        <div id="c1r12"></div>
        <div id="c2r12"></div>
        <div id="c3r12"></div>
        <div id="c4r12"></div>
        <div id="c5r12"></div>
        <div id="c6r12"></div>

        <div id="c0r11"></div>
        <div id="c1r11"></div>
        <div id="c2r11"></div>
        <div id="c3r11"></div>
        <div id="c4r11"></div>
        <div id="c5r11"></div>
        <div id="c6r11"></div>

        <div id="c0r10"></div>
        <div id="c1r10"></div>
        <div id="c2r10"></div>
        <div id="c3r10"></div>
        <div id="c4r10"></div>
        <div id="c5r10"></div>
        <div id="c6r10"></div>

        <div id="c0r9"></div>
        <div id="c1r9"></div>
        <div id="c2r9"></div>
        <div id="c3r9"></div>
        <div id="c4r9"></div>
        <div id="c5r9"></div>
        <div id="c6r9"></div>

        <div id="c0r8"></div>
        <div id="c1r8"></div>
        <div id="c2r8"></div>
        <div id="c3r8"></div>
        <div id="c4r8"></div>
        <div id="c5r8"></div>
        <div id="c6r8"></div>

        <div id="c0r7"></div>
        <div id="c1r7"></div>
        <div id="c2r7"></div>
        <div id="c3r7"></div>
        <div id="c4r7"></div>
        <div id="c5r7"></div>
        <div id="c6r7"></div>

        <div id="c0r6"></div>
        <div id="c1r6"></div>
        <div id="c2r6"></div>
        <div id="c3r6"></div>
        <div id="c4r6"></div>
        <div id="c5r6"></div>
        <div id="c6r6"></div>

        <div id="c0r5"></div>
        <div id="c1r5"></div>
        <div id="c2r5"></div>
        <div id="c3r5"></div>
        <div id="c4r5"></div>
        <div id="c5r5"></div>
        <div id="c6r5"></div>

        <div id="c0r4"></div>
        <div id="c1r4"></div>
        <div id="c2r4"></div>
        <div id="c3r4"></div>
        <div id="c4r4"></div>
        <div id="c5r4"></div>
        <div id="c6r4"></div>

        <div id="c0r3"></div>
        <div id="c1r3"></div>
        <div id="c2r3"></div>
        <div id="c3r3"></div>
        <div id="c4r3"></div>
        <div id="c5r3"></div>
        <div id="c6r3"></div>

        <div id="c0r2"></div>
        <div id="c1r2"></div>
        <div id="c2r2"></div>
        <div id="c3r2"></div>
        <div id="c4r2"></div>
        <div id="c5r2"></div>
        <div id="c6r2"></div>

        <div id="c0r1"></div>
        <div id="c1r1"></div>
        <div id="c2r1"></div>
        <div id="c3r1"></div>
        <div id="c4r1"></div>
        <div id="c5r1"></div>
        <div id="c6r1"></div>

        <div id="c0r0"></div>
        <div id="c1r0"></div>
        <div id="c2r0"></div>
        <div id="c3r0"></div>
        <div id="c4r0"></div>
        <div id="c5r0"></div>
        <div id="c6r0"></div> -->
    </div>
</section>

<form action="/schedules" method="POST">
    <label>Activity</label>
    <input type="text" name="activity">
    <label>Day</label>
    <select name="day">
        <option value="Monday">Monday</option>
        <option value="Tueday">Tueday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>
    <label>Start Time:</label>
    <select name="timeStart">
        <option value="600">6:00am</option>
        <option value="630">6:30am</option>
        <option value="700">7:00am</option>
        <option value="730">7:30am</option>
        <option value="800">8:00am</option>
        <option value="900">8:30am</option>
        <option value="930">9:00am</option>
        <option value="1000">9:30am</option>
        <option value="1030">10:00am</option>
        <option value="1100">10:30am</option>
        <option value="1130">11:30am</option>
        <option value="1200">12:00am</option>
        <option value="1230">12:30am</option>
        <option value="1300">1:00pm</option>
        <option value="1330">1:30pm</option>
        <option value="1400">2:00pm</option>
        <option value="1430">2:30pm</option>
        <option value="1500">3:00pm</option>
        <option value="1530">3:30pm</option>
        <option value="1600">4:00pm</option>
        <option value="1630">4:30pm</option>
        <option value="1700">5:00pm</option>
        <option value="1730">5:30pm</option>
        <option value="1800">6:00pm</option>
        <option value="1830">6:30pm</option>
        <option value="1900">7:00pm</option>
        <option value="1930">7:30pm</option>
        <option value="2000">8:00pm</option>
        <option value="2030">8:30pm</option>
        <option value="2100">9:00pm</option>
        <option value="2130">9:30pm</option>
        <option value="2200">10:00pm</option>
        <option value="2230">10:30pm</option>
        <option value="2300">11:00pm</option>
    </select>
    <label>End Time:</label>
    <select name="timeEnd">
        <option value="600">6:00am</option>
        <option value="630">6:30am</option>
        <option value="700">7:00am</option>
        <option value="730">7:30am</option>
        <option value="800">8:00am</option>
        <option value="900">8:30am</option>
        <option value="930">9:00am</option>
        <option value="1000">9:30am</option>
        <option value="1030">10:00am</option>
        <option value="1100">10:30am</option>
        <option value="1130">11:30am</option>
        <option value="1200">12:00am</option>
        <option value="1230">12:30am</option>
        <option value="1300">1:00pm</option>
        <option value="1330">1:30pm</option>
        <option value="1400">2:00pm</option>
        <option value="1430">2:30pm</option>
        <option value="1500">3:00pm</option>
        <option value="1530">3:30pm</option>
        <option value="1600">4:00pm</option>
        <option value="1630">4:30pm</option>
        <option value="1700">5:00pm</option>
        <option value="1730">5:30pm</option>
        <option value="1800">6:00pm</option>
        <option value="1830">6:30pm</option>
        <option value="1900">7:00pm</option>
        <option value="1930">7:30pm</option>
        <option value="2000">8:00pm</option>
        <option value="2030">8:30pm</option>
        <option value="2100">9:00pm</option>
        <option value="2130">9:30pm</option>
        <option value="2200">10:00pm</option>
        <option value="2230">10:30pm</option>
        <option value="2300">11:00pm</option>
    </select>
    <input type="submit" value="Add Activity">
</form>

<!-- <% schedules.forEach(function(s) { %>
    <%= s.day %>
<script>
    console.log(<%= s.day %>)
    const day = document.getElementById(`${<%= s.day %>}`)
</script>
<% }) %> -->

<%- include('../partials/footer') %>