<%- include('../partials/header') %>

Scheduler
<% schedules.forEach(function(s) { %>
    <% if (user?._id.equals(s.user)) { %>
<br><br>
<section id="scheduler">
    <div id="scheduler-days">
        <div id="mon">Monday</div>
        <div id="tue">Tuesday</div>
        <div id="wed">Wednesday</div>
        <div id="thu">Thursday</div>
        <div id="fri">Friday</div>
        <div id="sat">Saturday</div>
        <div id="sun">Sunday</div>
    </div>
    <div id="scheduler-times">
        <section id="mon-col">
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=6&&s.timeEnd>=6.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===6)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=6.5&&s.timeEnd>=7) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===6.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=7&&s.timeEnd>=7.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===7)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=7.5&&s.timeEnd>=8) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===7.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=8&&s.timeEnd>=8.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===8)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=8.5&&s.timeEnd>=9) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===8.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=9&&s.timeEnd>=9.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===9)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=9.5&&s.timeEnd>=10) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===9.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=10&&s.timeEnd>=10.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===10)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=10.5&&s.timeEnd>=11) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===10.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=11&&s.timeEnd>=11.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===11)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=11.5&&s.timeEnd>=12) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===11.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=12&&s.timeEnd>=12.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===12)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=12.5&&s.timeEnd>=13) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===12.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=13&&s.timeEnd>=13.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===13)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=13.5&&s.timeEnd>=14) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===13.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=14&&s.timeEnd>=14.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===14)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=14.5&&s.timeEnd>=15) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===14.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=15&&s.timeEnd>=15.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===15)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=15.5&&s.timeEnd>=16) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===15.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=16&&s.timeEnd>=16.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===16)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=16.5&&s.timeEnd>=17) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===16.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=17&&s.timeEnd>=17.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===17)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=17.5&&s.timeEnd>=18) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===17.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=18&&s.timeEnd>=18.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===18)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=18.5&&s.timeEnd>=19) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===18.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=19&&s.timeEnd>=19.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===19)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=19.5&&s.timeEnd>=20) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===19.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=20&&s.timeEnd>=20.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===20)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=20.5&&s.timeEnd>=21) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===20.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=21&&s.timeEnd>=21.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===21)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=21.5&&s.timeEnd>=22) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===21.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=22&&s.timeEnd>=22.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===22)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=22.5&&s.timeEnd>=23) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===22.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Monday'&&s.timeStart<=23&&s.timeEnd>=23.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Monday'&&s.timeStart===23)?.activity %></div>
        </section>
        <section id="tue-col">
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=6&&s.timeEnd>=6.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===6)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=6.5&&s.timeEnd>=7) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===6.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=7&&s.timeEnd>=7.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===7)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=7.5&&s.timeEnd>=8) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===7.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=8&&s.timeEnd>=8.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===8)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=8.5&&s.timeEnd>=9) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===8.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=9&&s.timeEnd>=9.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===9)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=9.5&&s.timeEnd>=10) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===9.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=10&&s.timeEnd>=10.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===10)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=10.5&&s.timeEnd>=11) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===10.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=11&&s.timeEnd>=11.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===11)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=11.5&&s.timeEnd>=12) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===11.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=12&&s.timeEnd>=12.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===12)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=12.5&&s.timeEnd>=13) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===12.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=13&&s.timeEnd>=13.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===13)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=13.5&&s.timeEnd>=14) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===13.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=14&&s.timeEnd>=14.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===14)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=14.5&&s.timeEnd>=15) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===14.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=15&&s.timeEnd>=15.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===15)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=15.5&&s.timeEnd>=16) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===15.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=16&&s.timeEnd>=16.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===16)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=16.5&&s.timeEnd>=17) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===16.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=17&&s.timeEnd>=17.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===17)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=17.5&&s.timeEnd>=18) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===17.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=18&&s.timeEnd>=18.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===18)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=18.5&&s.timeEnd>=19) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===18.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=19&&s.timeEnd>=19.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===19)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=19.5&&s.timeEnd>=20) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===19.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=20&&s.timeEnd>=20.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===20)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=20.5&&s.timeEnd>=21) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===20.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=21&&s.timeEnd>=21.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===21)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=21.5&&s.timeEnd>=22) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===21.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=22&&s.timeEnd>=22.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===22)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=22.5&&s.timeEnd>=23) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===22.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Tuesday'&&s.timeStart<=23&&s.timeEnd>=23.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Tuesday'&&s.timeStart===23)?.activity %></div>
        </section>
        <section id="wed-col">
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=6&&s.timeEnd>=6.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===6)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=6.5&&s.timeEnd>=7) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===6.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=7&&s.timeEnd>=7.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===7)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=7.5&&s.timeEnd>=8) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===7.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=8&&s.timeEnd>=8.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===8)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=8.5&&s.timeEnd>=9) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===8.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=9&&s.timeEnd>=9.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===9)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=9.5&&s.timeEnd>=10) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===9.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=10&&s.timeEnd>=10.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===10)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=10.5&&s.timeEnd>=11) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===10.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=11&&s.timeEnd>=11.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===11)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=11.5&&s.timeEnd>=12) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===11.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=12&&s.timeEnd>=12.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===12)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=12.5&&s.timeEnd>=13) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===12.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=13&&s.timeEnd>=13.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===13)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=13.5&&s.timeEnd>=14) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===13.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=14&&s.timeEnd>=14.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===14)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=14.5&&s.timeEnd>=15) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===14.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=15&&s.timeEnd>=15.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===15)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=15.5&&s.timeEnd>=16) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===15.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=16&&s.timeEnd>=16.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===16)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=16.5&&s.timeEnd>=17) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===16.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=17&&s.timeEnd>=17.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===17)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=17.5&&s.timeEnd>=18) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===17.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=18&&s.timeEnd>=18.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===18)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=18.5&&s.timeEnd>=19) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===18.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=19&&s.timeEnd>=19.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===19)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=19.5&&s.timeEnd>=20) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===19.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=20&&s.timeEnd>=20.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===20)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=20.5&&s.timeEnd>=21) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===20.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=21&&s.timeEnd>=21.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===21)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=21.5&&s.timeEnd>=22) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===21.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=22&&s.timeEnd>=22.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===22)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=22.5&&s.timeEnd>=23) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===22.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Wednesday'&&s.timeStart<=23&&s.timeEnd>=23.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Wednesday'&&s.timeStart===23)?.activity %></div>
        </section>
        <section id="thu-col">
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=6&&s.timeEnd>=6.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===6)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=6.5&&s.timeEnd>=7) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===6.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=7&&s.timeEnd>=7.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===7)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=7.5&&s.timeEnd>=8) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===7.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=8&&s.timeEnd>=8.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===8)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=8.5&&s.timeEnd>=9) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===8.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=9&&s.timeEnd>=9.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===9)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=9.5&&s.timeEnd>=10) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===9.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=10&&s.timeEnd>=10.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===10)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=10.5&&s.timeEnd>=11) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===10.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=11&&s.timeEnd>=11.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===11)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=11.5&&s.timeEnd>=12) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===11.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=12&&s.timeEnd>=12.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===12)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=12.5&&s.timeEnd>=13) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===12.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=13&&s.timeEnd>=13.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===13)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=13.5&&s.timeEnd>=14) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===13.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=14&&s.timeEnd>=14.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===14)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=14.5&&s.timeEnd>=15) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===14.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=15&&s.timeEnd>=15.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===15)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=15.5&&s.timeEnd>=16) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===15.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=16&&s.timeEnd>=16.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===16)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=16.5&&s.timeEnd>=17) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===16.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=17&&s.timeEnd>=17.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===17)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=17.5&&s.timeEnd>=18) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===17.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=18&&s.timeEnd>=18.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===18)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=18.5&&s.timeEnd>=19) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===18.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=19&&s.timeEnd>=19.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===19)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=19.5&&s.timeEnd>=20) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===19.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=20&&s.timeEnd>=20.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===20)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=20.5&&s.timeEnd>=21) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===20.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=21&&s.timeEnd>=21.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===21)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=21.5&&s.timeEnd>=22) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===21.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=22&&s.timeEnd>=22.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===22)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=22.5&&s.timeEnd>=23) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===22.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Thursday'&&s.timeStart<=23&&s.timeEnd>=23.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Thursday'&&s.timeStart===23)?.activity %></div>
        </section>
        <section id="fri-col">
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=6&&s.timeEnd>=6.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===6)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=6.5&&s.timeEnd>=7) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===6.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=7&&s.timeEnd>=7.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===7)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=7.5&&s.timeEnd>=8) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===7.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=8&&s.timeEnd>=8.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===8)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=8.5&&s.timeEnd>=9) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===8.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=9&&s.timeEnd>=9.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===9)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=9.5&&s.timeEnd>=10) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===9.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=10&&s.timeEnd>=10.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===10)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=10.5&&s.timeEnd>=11) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===10.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=11&&s.timeEnd>=11.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===11)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=11.5&&s.timeEnd>=12) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===11.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=12&&s.timeEnd>=12.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===12)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=12.5&&s.timeEnd>=13) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===12.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=13&&s.timeEnd>=13.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===13)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=13.5&&s.timeEnd>=14) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===13.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=14&&s.timeEnd>=14.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===14)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=14.5&&s.timeEnd>=15) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===14.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=15&&s.timeEnd>=15.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===15)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=15.5&&s.timeEnd>=16) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===15.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=16&&s.timeEnd>=16.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===16)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=16.5&&s.timeEnd>=17) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===16.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=17&&s.timeEnd>=17.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===17)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=17.5&&s.timeEnd>=18) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===17.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=18&&s.timeEnd>=18.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===18)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=18.5&&s.timeEnd>=19) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===18.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=19&&s.timeEnd>=19.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===19)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=19.5&&s.timeEnd>=20) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===19.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=20&&s.timeEnd>=20.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===20)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=20.5&&s.timeEnd>=21) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===20.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=21&&s.timeEnd>=21.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===21)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=21.5&&s.timeEnd>=22) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===21.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=22&&s.timeEnd>=22.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===22)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=22.5&&s.timeEnd>=23) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===22.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Friday'&&s.timeStart<=23&&s.timeEnd>=23.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Friday'&&s.timeStart===23)?.activity %></div>
        </section>
        <section id="sat-col">
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=6&&s.timeEnd>=6.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===6)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=6.5&&s.timeEnd>=7) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===6.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=7&&s.timeEnd>=7.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===7)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=7.5&&s.timeEnd>=8) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===7.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=8&&s.timeEnd>=8.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===8)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=8.5&&s.timeEnd>=9) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===8.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=9&&s.timeEnd>=9.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===9)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=9.5&&s.timeEnd>=10) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===9.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=10&&s.timeEnd>=10.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===10)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=10.5&&s.timeEnd>=11) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===10.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=11&&s.timeEnd>=11.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===11)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=11.5&&s.timeEnd>=12) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===11.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=12&&s.timeEnd>=12.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===12)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=12.5&&s.timeEnd>=13) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===12.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=13&&s.timeEnd>=13.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===13)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=13.5&&s.timeEnd>=14) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===13.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=14&&s.timeEnd>=14.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===14)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=14.5&&s.timeEnd>=15) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===14.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=15&&s.timeEnd>=15.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===15)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=15.5&&s.timeEnd>=16) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===15.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=16&&s.timeEnd>=16.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===16)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=16.5&&s.timeEnd>=17) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===16.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=17&&s.timeEnd>=17.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===17)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=17.5&&s.timeEnd>=18) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===17.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=18&&s.timeEnd>=18.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===18)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=18.5&&s.timeEnd>=19) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===18.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=19&&s.timeEnd>=19.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===19)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=19.5&&s.timeEnd>=20) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===19.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=20&&s.timeEnd>=20.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===20)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=20.5&&s.timeEnd>=21) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===20.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=21&&s.timeEnd>=21.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===21)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=21.5&&s.timeEnd>=22) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===21.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=22&&s.timeEnd>=22.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===22)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=22.5&&s.timeEnd>=23) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===22.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Saturday'&&s.timeStart<=23&&s.timeEnd>=23.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Saturday'&&s.timeStart===23)?.activity %></div>
        </section>
        <section id="sun-col">
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=6&&s.timeEnd>=6.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===6)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=6.5&&s.timeEnd>=7) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===6.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=7&&s.timeEnd>=7.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===7)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=7.5&&s.timeEnd>=8) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===7.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=8&&s.timeEnd>=8.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===8)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=8.5&&s.timeEnd>=9) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===8.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=9&&s.timeEnd>=9.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===9)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=9.5&&s.timeEnd>=10) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===9.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=10&&s.timeEnd>=10.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===10)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=10.5&&s.timeEnd>=11) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===10.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=11&&s.timeEnd>=11.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===11)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=11.5&&s.timeEnd>=12) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===11.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=12&&s.timeEnd>=12.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===12)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=12.5&&s.timeEnd>=13) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===12.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=13&&s.timeEnd>=13.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===13)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=13.5&&s.timeEnd>=14) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===13.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=14&&s.timeEnd>=14.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===14)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=14.5&&s.timeEnd>=15) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===14.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=15&&s.timeEnd>=15.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===15)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=15.5&&s.timeEnd>=16) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===15.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=16&&s.timeEnd>=16.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===16)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=16.5&&s.timeEnd>=17) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===16.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=17&&s.timeEnd>=17.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===17)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=17.5&&s.timeEnd>=18) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===17.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=18&&s.timeEnd>=18.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===18)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=18.5&&s.timeEnd>=19) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===18.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=19&&s.timeEnd>=19.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===19)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=19.5&&s.timeEnd>=20) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===19.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=20&&s.timeEnd>=20.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===20)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=20.5&&s.timeEnd>=21) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===20.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=21&&s.timeEnd>=21.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===21)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=21.5&&s.timeEnd>=22) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===21.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=22&&s.timeEnd>=22.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===22)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=22.5&&s.timeEnd>=23) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===22.5)?.activity %></div>
            <div class="<%= schedules.some(s => s.day==='Sunday'&&s.timeStart<=23&&s.timeEnd>=23.5) ? 'taken' : 'avail' %>"><%= schedules.find(s => s.day==='Sunday'&&s.timeStart===23)?.activity %></div>
        </section>
</section>

<ul>
    <li>
        <form action="/schedules/<%= s._id %>?_method=PUT" method="POST">
            <input type="text" name="acitivity" value="<%= s.activity %>">
            <button type="submit">Edit</button>
        <form action="/schedules/<%= s._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

<form action="/schedules" method="POST">
    <label>Activity</label>
    <input type="text" name="activity">
    <label>Day</label>
    <select name="day">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>
    <label>Start Time:</label>
    <select name="timeStart">
        <option value="6">6:00am</option>
        <option value="6.5">6:30am</option>
        <option value="7">7:00am</option>
        <option value="7.5">7:30am</option>
        <option value="8">8:00am</option>
        <option value="8.5">8:30am</option>
        <option value="9">9:00am</option>
        <option value="9.5">9:30am</option>
        <option value="10">10:00am</option>
        <option value="11">10:30am</option>
        <option value="11.5">11:30am</option>
        <option value="12">12:00am</option>
        <option value="12.5">12:30am</option>
        <option value="13">1:00pm</option>
        <option value="13.5">1:30pm</option>
        <option value="14">2:00pm</option>
        <option value="14.5">2:30pm</option>
        <option value="15">3:00pm</option>
        <option value="15.5">3:30pm</option>
        <option value="16">4:00pm</option>
        <option value="16.5">4:30pm</option>
        <option value="17">5:00pm</option>
        <option value="17.5">5:30pm</option>
        <option value="18">6:00pm</option>
        <option value="18.5">6:30pm</option>
        <option value="19">7:00pm</option>
        <option value="19.5">7:30pm</option>
        <option value="20">8:00pm</option>
        <option value="20.5">8:30pm</option>
        <option value="21">9:00pm</option>
        <option value="21.5">9:30pm</option>
        <option value="22">10:00pm</option>
        <option value="22.5">10:30pm</option>
        <option value="23">11:00pm</option>
    </select>
    <label>End Time:</label>
    <select name="timeEnd">
        <option value="6">6:00am</option>
        <option value="6.5">6:30am</option>
        <option value="7">7:00am</option>
        <option value="7.5">7:30am</option>
        <option value="8">8:00am</option>
        <option value="8.5">8:30am</option>
        <option value="9">9:00am</option>
        <option value="9.5">9:30am</option>
        <option value="10">10:00am</option>
        <option value="11">10:30am</option>
        <option value="11.5">11:30am</option>
        <option value="12">12:00am</option>
        <option value="12.5">12:30am</option>
        <option value="13">1:00pm</option>
        <option value="13.5">1:30pm</option>
        <option value="14">2:00pm</option>
        <option value="14.5">2:30pm</option>
        <option value="15">3:00pm</option>
        <option value="15.5">3:30pm</option>
        <option value="16">4:00pm</option>
        <option value="16.5">4:30pm</option>
        <option value="17">5:00pm</option>
        <option value="17.5">5:30pm</option>
        <option value="18">6:00pm</option>
        <option value="18.5">6:30pm</option>
        <option value="19">7:00pm</option>
        <option value="19.5">7:30pm</option>
        <option value="20">8:00pm</option>
        <option value="20.5">8:30pm</option>
        <option value="21">9:00pm</option>
        <option value="21.5">9:30pm</option>
        <option value="22">10:00pm</option>
        <option value="22.5">10:30pm</option>
        <option value="23">11:00pm</option>
    </select>
    <input type="submit" value="Add Activity">
</form>

<% } %>
<% }) %>

<!-- <script>
    // Add a button for each scheduled out activity
    const monCol = document.querySelectorAll('#scheduler-times > section > div');
    monCol.forEach(function(div) {
        if (div.innerHTML) {
            // Create button for first div
            const btn = document.createElement('button');
            btn.style.height= '2vmin';
            div.appendChild(btn);
        }
    })
</script> -->

<%- include('../partials/footer') %>