<%- include('../partials/header') %>

Add a new note:
<form action="/notes" method="POST">
    <label>Date:</label>
    <input type="datetime-local" name="date">
    <label>Note:</label>
    <textarea name="content" id="" cols="20" rows="4"></textarea>
    <input type="submit" value="Add Note">
</form>

<ul>
    <% notes.forEach(function(n) { %>
        <% if (user?._id.equals(n.user)) { %>
        <li>
        <%= n.date.toDateString()  %>
        <br><br>
        <%= n.content  %>
        <button id="open-button">Edit</button>
        <div class="modal" id="modal">
            <div class="modal-title">Edit Note</div>
            <button id="close-button">&times;</button>

            <form action="/notes/<%= n._id %>?_method=PUT" method="POST">
                <input class="modal-note" type="text" name="content" value="<%= n.content %>">
                <button type="submit">Edit Note</button>
            </form>
            <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Note</button>
            </form>
        </div>
        <!-- <a href="notes/show">+</a> -->
    </li>
        <% } %>
    <% }); %>   
</ul> 

<!-- need to make async?? if no notes exist-->
<script>
    const openBtn = document.getElementById('open-button');
    const closeBtn = document.getElementById('close-button');
    const modal = document.getElementById('modal');
    openBtn.addEventListener('click', (e) => {
        modal.classList.add('active');
        console.log('test')
    })
    closeBtn.addEventListener('click', (e) => {
        modal.classList.remove('active');
    })
</script>


<%- include('../partials/footer') %> 

