<%- include('../partials/header') %>

Add a new note:
<form action="/notes" method="POST">
    <label>Name:</label>
    <input type="text" name="content">
    <label>Date:</label>
    <input type="datetime-local" name="date">
    <input type="submit" value="Add Note">
</form>

<ul>
    <% notes.forEach(function(n) { %>
        <% if (user?._id.equals(n.user)) { %>
        <li>
        <%= n.content  %>
        <%= n.date  %>
        <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
        </form>
    </li>
        <% } %>
    <% }); %>   
</ul> 

<%- include('../partials/footer') %> 

