<%- include('../partials/header') %>

<h3>Create a new position:</h1>
<form action="/positions" method="POST">
    <label>Position:</label>
    <input type="text" name="name">
    <label>Content:</label>
    <input type="text" name="content">
    <input type="submit" value="Add Position">
</form>

<ul id="positions-ul">
    <% positions.forEach(function(p) { %>
    <% if (user?._id.equals(p.user)) { %>
    <li id="positions-li">
        <%= p.name %>
        <form class="position-edit" action="/positions/<%= p._id %>?_method=PUT" method="POST">
            <textarea name="content" id="positions-textarea"><%= p.content %></textarea>
            <button type="submit">Edit Position</button>
        </form>
        <form id="positions-delete" action="/positions/<%= p._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    </li>
    <% } %>
    <% }); %>
</ul>

<%- include('../partials/footer') %>