<%- include('../partials/header') %>

Create a new position:
<form action="/positions" method="POST">
    <label>Position:</label>
    <input type="text" name="name">
    <label>Content:</label>
    <input type="text" name="content">
    <input type="submit" value="Add Position">
</form>

Positions:

<ul>
    <% positions.forEach(function(p) { %>
    <% if (user?._id.equals(p.user)) { %>
    <li id="positions-li">
        <%= p.name %>
        ⎯⎯⎯⎯⎯⎯⎯
        <form class="position-edit" action="/positions/<%= p._id %>?_method=PUT" method="POST">
            <input class="modal-note" type="text" name="content" value="<%= p.content %>">
            <button type="submit">Edit Position</button>
        </form>
        <form action="/positions/<%= p._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    </li>
    <% } %>
    <% }); %>
</ul>

<%- include('../partials/footer') %>