<%- include('../partials/header') %>

<div id="goals-page">
<% users.forEach(function(u) { %> 
    <% if (user?._id.equals(u._id)) { %>
    Weekly Goals:
    <br><br>
    <form action="/users/<%= u._id %>?_method=PUT" method="POST">
        <textarea name="weeklyGoals"><%= u.weeklyGoals %></textarea>
        <button type="submit">Edit</button>
    </form>
    <br><br>
    Monthly Goals:
    <br><br>
    <form action="/users/<%= u._id %>?_method=PUT" method="POST">
        <textarea name="monthlyGoals"><%= u.monthlyGoals %></textarea>
        <button type="submit">Edit</button>
    </form>
    <br><br>
    Yearly Goals:
    <br><br>
    <form action="/users/<%= u._id %>?_method=PUT" method="POST">
        <textarea name="yearlyGoals"><%= u.yearlyGoals %></textarea>
        <button type="submit">Edit</button>
    </form>
    <br><br>
    <% } %>
    <% }) %>
</div>

<%- include('../partials/footer') %>